<div class="container-fluid mt-5">
    <h1 class="text-center">
        <%= render 'shared/botao_voltar', rota: livros_path %>
        Novo Livro
    </h1>

    <%= render 'form', livro: @livro %>
</div>